
h1 {
    color: blue;
    font-family: "ENGR";
    font-size: 70px;
}
h2 {
    color: blue;
    font-family: "ENGR";
    font-size: 40px;
}
body {
    font-family: "ENGR";
    font-size: 40px;
}
p {
    color: red;
}
